$inputheight: 30px;
$greenlight:#62d2b0;
$orange:#e85f29;
$blue:#142644;
$green:#0b5850;
#home{
	position: absolute;
   	top: 50%;
   	left: 50%;
   	width: 500px;
   	height: 500px;
   	margin-top: -250px;
   	margin-left: -250px;
	a{
 		width: 425px;
 		height:425px;
 		display:block;
		background: url('../data/moviechallenge.gif') center center no-repeat;
		&:hover {
   			background-image: url('../data/moviechallenge2.png');
		}
	}
}
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:white;
	background-color:$blue;
	header{
		display: block;
		#gameName{
			margin-left:120px;
			font-weight:700;
			text-align:left;
		}
		.logo{
			position: absolute;
		}
	}
	.bodyGame{ 
   		background:url(../data/cine2.png) center bottom no-repeat;
   		background-size: 100% 100%;
	}
	#leftSide{
		color:white;
		font-weight: bold;
		text-align:left;
		padding:30px;
		li{
			margin-top:25px;
		}
		#choose{
			width:152px;
			input{
				margin-top:10px;
				cursor: pointer;
				&:hover {
					border-bottom: 1px solid $orange;
				}
				&:checked ~ label{
					color: $orange;
				}
			}
		}
		.newGame{
			&:hover{
				color:$orange;
				border-bottom: 1px solid $orange;
			}

		}

		input[type=text]{
			height:$inputheight;
			width:152px;
			background-color:transparent;
			border:1px solid white;
			color:$orange;

		}
		select{
			height:$inputheight;
			background-color:$blue;
			border:1px solid white;
			width:152px;
			color:$orange;
			cursor: pointer;
		}
		button{
			text-align:left;
			border:none;
			background-color:transparent;
		}
	}
	
	
	#counter{
		font-size:24px;
		text-align: right;
		padding-right:55px;
		.glyphicon{
			color:$orange;
			margin-right:5px;

		}
		img{
			margin-right:5px;
			margin-top:-5px;
		}
	}
	.hint{
		#infoHint{
			font-size: 20px;
			margin-left:70px;
		}
		button{
			padding-top:5px;
			padding-bottom:5px;
			margin:12px 0px;
			background-color:transparent;
			border:1px solid $orange;
			width: 80px;
			font-weight: bold;
			color:$orange;
			&:disabled{
				color:white;
				border: none;
			}
		}
	}

	.video{
		height:538px;
		width:100%;
		text-align:center;
		#thumb{
		cursor: pointer;
		width:100%;
		}
		#imageEnd{
			img{
				width:100%;
			}
		}
		iframe{
			width:100%;
		}
		#titlesList{	
			text-align:center;
			width:100%;
			margin-left: auto ;
			margin-right: auto ;
			li{
				width:33%;
			}
			button{
				padding-top:5px;
				padding-bottom:5px;
				width:100%;
				margin:12px 0px;
				background-color:black;
				color:white;
			}
		}
	}
	
	.correctButton{
		border: 5px solid $greenlight;
		color:$greenlight!important;
	}

	.modalFail{
		background-color:#f2a46b;
		color:$green;
	}
	.modalCorrect{
		background-color:$greenlight;
		color:$green;
	}
	#loading {
	   width: 100%;
	   height: 100%;
	   top: 0px;
	   left: 0px;
	   position: fixed;
	   display: block;
	   background-color: $blue;
	   z-index: 99;
	   text-align: center;

		img {
  			position: absolute;
  			width:200px;
  			height:200px;
  			top: 200px;
  			left: 43%;
  			z-index: 100;
		}
	}
	footer{
		text-align:right;
		padding-top:4px;
		padding-right:15px;
	}
}