@media (max-width: 768px) {
  .list-xs {
    margin: 0px !important;
    width: 32%;
    display: inline-block; }

  .list-xs-padding {
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important; }

  .footer-xs {
    width: 5%;
    height: 5%; } }
@media (min-width: 769px) {
  .bodyGame {
    background: url(../data/cine1.png) center no-repeat;
    background-size: contain; } }
#home {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px; }
  #home a {
    width: 95%;
    height: 95%;
    display: block;
    background: url("../data/moviechallenge.gif") center center no-repeat; }
    #home a:hover {
      background-image: url("../data/moviechallenge2.png"); }

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
  background-color: #142644; }
  body header #gameName {
    font-weight: 700;
    text-align: left;
    font-size: 2.25em; }
  body header .logo {
    cursor: pointer; }
  body #leftSide {
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 30px; }
    body #leftSide li {
      margin-top: 25px; }
    body #leftSide .choose input {
      margin-top: 10px;
      cursor: pointer; }
      body #leftSide .choose input:checked ~ label {
        color: #e85f29; }
    body #leftSide input[type=text] {
      height: 30px;
      width: 152px;
      background-color: transparent;
      border: 1px solid white;
      color: #e85f29; }
    body #leftSide select {
      height: 30px;
      background-color: #142644;
      border: 1px solid white;
      width: 152px;
      color: #e85f29;
      cursor: pointer; }
    body #leftSide button {
      text-align: left;
      border: none;
      background-color: transparent; }
  body #counter {
    font-size: 24px;
    text-align: right;
    padding-right: 55px; }
    body #counter .glyphicon {
      color: #e85f29;
      margin-right: 5px; }
    body #counter img {
      margin-right: 5px;
      margin-top: -5px; }
  body .hint #infoHint {
    font-size: 20px;
    margin-left: 70px; }
  body .hint button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 12px 0px;
    background-color: transparent;
    border: 1px solid #e85f29;
    width: 80px;
    font-weight: bold;
    color: #e85f29; }
    body .hint button:disabled {
      color: white;
      border: none; }
  body .video {
    height: 538px;
    width: 100%;
    text-align: center; }
    body .video #thumb {
      cursor: pointer;
      width: 100%; }
    body .video #imageEnd img {
      width: 100%; }
    body .video iframe {
      width: 100%; }
    body .video #titlesList {
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      body .video #titlesList li {
        width: 33%;
        margin-bottom: 5px; }
      body .video #titlesList button {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        margin: 12px 0px;
        background-color: black;
        color: white; }
  body .correctButton {
    border: 5px solid #62d2b0;
    color: #62d2b0 !important; }
  body .modalFail {
    background-color: #f2a46b;
    color: #0b5850; }
  body .modalCorrect {
    background-color: #62d2b0;
    color: #0b5850; }
  body #loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px; }
    body #loading img {
      width: 50%;
      height: 50%;
      display: block;
      margin-top: 30%; }
  body footer p {
    text-align: center; }
  body footer a {
    text-align: right; }
    body footer a img {
      width: 3%;
      height: 3%; }

/*# sourceMappingURL=myStylesheet.css.map */
